/*SCRIPT INFO

Script: purple.css
Desc: Everything gets PURPLE <3
Author: Cema, kingguy3000@gmail.com
Created: 07-09-2018 (D,M,Y)
Updated: 07-09-2018 (D,M,Y)

Rights: Attribution-ShareAlike 4.0 International (CC BY-SA 4.0) - http://creativecommons.org/licenses/by-sa/4.0/
SCRIPT INFO*/

.site-title{
	color: #800080;
}
.site-description {
	color: #800080;
}